# Files and directories ignored by Dockerfile
.vscode/
.idea/
.git/
.github/
.gitignore
.gitlab-ci.{yml,yaml}
**/*.md
LICENSE
README.md

# Directories for local build
cmake-build-debug/
build
dist
bin
share
lib
lib64

# Uneeded utils
diagrams/
analysis/
pyutils/
results/
doc/
results/
data/backups/

# Ignored extensions
*.{db,db3,sqlite,sqlite3,log,yml,yaml}
