# Files and directories ignored by Dockerfile
.github/
.vscode/
.idea/
.gitlab-ci.{yml,yaml}
.gitignore
**/*.md
LICENSE

# Directories for local build
cmake-build-debug/
build
dist
bin
share
lib
lib64

# Uneeded utils
diagrams/
analysis/
pyutils/
results/
