# Files ignored by Git

/RELATORIO.md

## Folders to ignore
build
cmake-build-debug
img
dist
bin
lib
include/paradiseo
include/scpxx
share
lib64
**/.ipynb-checkpoint*
.idea

# IDEs
.vscode
.idea

## C++ precompiled and executables
**/*.[o|a]
**/*.obj
**/*.exe
**/*.out
**/*.ar
**/*.so

## Possible executables
**/ga4scp
**/ga4maxclique
**/ga4steintree
**/ga4multiknap
**/maxclique
**/setcovering
**/multiknap
**/steintree

## Temporary test sources
**/t-*.cpp
**/t-*.cxx
**/t-*.cc
**/tmp-*
**/*~
**/*.bkp


## Python e Notebooks
**/__pycache__/
**/*.ipynb_checkpoints
**.ipynb