# Files ignored by Git

## Folders to ignore
build
cmake-build-debug
diagrams
img
bin
lib
dist

# IDEs
.vscode
.idea

## C++ precompiled and eexecutables
**/*.[o|a]
**/*.obj
**/*.exe
**/*.out
**/*.ar
**/*.so

## Temporary test sources
t-*.cpp
t-*.cxx
t-*.cc
